/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}



/* Navigation bar styling */
nav {
    background-color: #333;
    overflow: hidden;
    position: absolute; /* This will make the navbar stay at the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the nav bar is above other content */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #555;
}





/* Header styling */
header {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/020/975/168/small/set-of-cityscape-background-skyline-silhouettes-modern-architecture-horizontal-banner-with-megapolis-panorama-building-icon-illustration-city-silhouettes-building-illustration-vector.jpg");
    color: #fff;
    
    text-align: center;
    margin-top: 95px;
    padding: 30px 0;
    z-index: 999;
}

header h1 {
    margin: 0;
}

/* Section styling */
section {
    padding: 20px;
    margin-top: 20px;
    background-color: #000080;
    color: white; /* Change text color for visibility on dark background */
    clear: both; /* Clear any floats */
}

#project-overview {
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

#project-overview p {
    margin-bottom: 20px;
}





#heatmaps {
    background-color: white;
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

#heatmaps h2, #heatmaps p {
    width: 100%;
    margin: 5px 0;
}

.heatmap-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tableauPlaceholder {
    flex: 1 0 40%;
    margin: 5px;
    box-sizing: border-box;
    height: 400px; 
    overflow: hidden;
}


#site-locations {
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

#site-locations p {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: white;
    width: 100%;
    position: relative; /* Change from absolute to avoid overlap with other content */
    bottom: 0;
    clear: both; /* Clear any floats */
}

/* Ensure content doesn't overlap with footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Responsive layout adjustments */
@media (min-width: 700px) {
    nav ul {
        padding: 0;
    }

    nav ul li {
        display: inline;
    }

    .container {
        width: 85%;
        margin: auto;
        overflow: hidden; /* Clear the float */
    }

    header, footer, nav, section {
        padding: 20px;
    }

    header, footer {
        text-align: center;
    }

    nav {
        text-align: right;
    }
}
img {float: left;}

/* Flexbox Setup For Index / Home */

.container_for_quotes_and_images
 {
     display: flex; 
     align-items: top; 
     justify-content: top; 
     width:33%;
     height:500px;
     background-color:antiquewhite
 }

 .image
 {
     width: 100px;
     height:100px;
 }

 .quote 
 {
     
     font-size: 1em;
     width:400px;
     height:500px;
 }

 .container_for_quotes_and_images2
 {
     display: flex; 
     align-items: top; 
     justify-content: left; 
     width:66%;
     padding-left: 3px;
 }

 .quote2
 {
     font-size: 1.5em;
     width:fit-content;
 }

 .image2
 {
     width: 100px;
     height:100px;
 }

 .wrapper
 {
     display: flex; 
     align-items: left; 
     justify-content: left;
 }

 .alt_wrapper
 {
     display: flex; 
     align-items: left; 
     justify-content: left;
     padding-top:15px;
     padding-bottom:15px;
     width:100%
 }

 .container-for-quickjump
 {
     display: flex; 
     align-items: center; 
     justify-content: center; 
     width: 33%;
 }

 .container-for-synopses
 {
     display: flex; 
     align-items: top; 
     justify-content: top;
     width:66%;
 }

 
/* Electrospray Flexboxes */

.gif 
{
    height: 500px;
    width: 700px;
}

.container-for-gif
 {
     display: flex; 
     align-items: center; 
     justify-content: center; 
     width: 50%;
     height:500px
 }

 .container-for-breakdown
 {
     display: flex; 
     align-items: center; 
     justify-content: center;
     width:100%;
     text-align:center
    
 }

 .diagram
 {
    height:800px;
    width:800px;
    
 }
 
 .container-for-diagram
 {
     display: flex; 
     align-items: center; 
     justify-content: center;
     width:100%;
 }

 .alt-container-for-breakdown
 {
     display: flex; 
     align-items: top; 
     justify-content: top;
     width:33%;
 }

 .electro-wrapper
{
    display: flex; 
     align-items: center; 
     justify-content: center;
     width:100%;
}

/* Location Tab Flexboxes */
.container-for-location-images
{
    width: 33%;
    display: flex; 
     align-items: center; 
     justify-content: center;
}

.container-for-gmap
{
    width: 100%;
    display: flex; 
     align-items: center; 
     justify-content: center;
}
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

